{{#apiInfo}}
{{#apis}}
{{#operations}}
import { {{ classname }} } from './{{ classFilename }}';
export { {{ classname }} } from './{{ classFilename }}';
{{/operations}}
{{/apis}}
export const APIS = [{{#apis}}{{#operations}}{{ classname }}{{/operations}}{{^-last}}, {{/-last}}{{/apis}}];
{{/apiInfo}}
