{{#apiInfo}}
{{#apis}}
{{#operations}}
import { {{ classname }} } from './{{ classname }}';
export { {{ classname }} } from './{{ classname }}';
{{/operations}}
{{/apis}}
export const APIS = [ {{#apis}}{{#operations}}{{ classname }}, {{/operations}}{{/apis}}];
{{/apiInfo}}
