import * as apis from './api';

{{#apiInfo}}
{{#apis}}
{{#operations}}
export * from './{{ classname }}';
{{/operations}}
{{/apis}}
{{/apiInfo}}

export const API_PROVIDERS: any[] = [
{{#apiInfo}}
{{#apis}}
{{#operations}}
  apis.{{ classname }},
{{/operations}}
{{/apis}}
{{/apiInfo}}
];
